.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #8e8ffa;
  width: 95%;
  border-radius: 10px;
  display: flex;
  margin: 2em 0 2em 0;
}

.content {
  flex: 2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  flex: 1;
  padding: 1em;
  width: 50%;
}

h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

img {
  width: 100%;
  border-radius: 10px;
}

.inputs {
  justify-content: space-evenly;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  gap: 1em;
}

.price {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
}

.price div {
  display: flex;
  justify-content: center;
}

.inputs select,
input {
  padding: 8px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  outline: none;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.addToCartBtn {
  cursor: pointer;
  padding: 8px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  background-color: #5f44e4;
}

.addToCartBtn:hover {
  box-shadow: 0px 0px 10px 6px #000000;
  color: white;
}

/* @media (max-width: 950px) {
  .inputs {
    display: block;
  }

  .quantity {
    margin-top: 10px;
  }
} */

@media (max-width: 768px) {
  .card {
    margin-bottom: 2em;
    display: block;
  }

  .image {
    width: auto;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
